/********** Fixes **********/

* {
  margin:0;
  padding:0;
  border:0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
  line-height: 0;
}

.clear {
  clear: both;
}

/* Posititoning Classes */

.two-thirds{
  width: 65%;/*change*/
  float: left;
  display: inline;
}

.col-2 {
  float: right;
  width: 32%;
  /*margin-left: 15px;*/
  display: inline;
}

.wrapperA{
  width: 960px;
	margin: 0 auto;
}

#testDiv1{
  width: 49%;
  float:left;
  background:magenta;
  margin:2px;
}

#testDiv2 {
  width: 49%;
  float:left;
  background:green;
  margin:2px;
}
