/********** Fixes **********/

* {
  margin:0;
  padding:0;
  border:0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
  line-height: 0;
}

.clear {
  clear: both;
}

/* Posititoning Classes */
.milk_text{
  color: red;
  display: block;
  margin-top: 10%;
  margin-bottom: 1%;
}
.one-third{
  width: 32.29%;
  float: left;
  margin-right: 1.56%;
  margin-top: 15px;
}

.last-third{
  width: 32.29%;
  float: right;
  margin-top: 15px;
}

.two-thirds{
  width: 66.2%;
  margin-right: 1.56%;
  float: left;
}

.col-2 {
  float: right;
  width: 32.24%;
  height: 594px;
}
