/********** Fixes **********/

* {
  margin:0;
  padding:0;
  border:0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
  line-height: 0;
}

.clear {
  clear: both;
}

/* Posititoning Classes */
.one-third{
  width: 30%;
  float: left;
  margin-right:15px;
  margin-top: 15px;
}

.last-third{
  width: 307.19px;
  float: right;
  margin: auto;
  margin-top: 15px;
}

.two-thirds{
  width: 64%;
  float: left;
}

.col-2 {
  float: right;
  width: 32%;
  height: 580px;
}
